<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
  <% include ../partials/nav.ejs %>

    <h1><%=gamelist.title%></h1>
    <img src="<%=gamelist.coverImage%>">
    <p>
      <%=gamelist.description%>
    </p>
    <ul>
    <% if (gamelist.game.title.length > 0){ %>
      <% for(let i = 0; i < gamelist.game.title.length; i++){ %>
          <li>
            <%=gamelist.game.title[i]%>
            <%=gamelist.game.image[i]%>
            <%=gamelist.game.platform[i]%>
            <p>
              <%=gamelist.game.description[i]%>
            </p>
          </li>
       <% } %>
      <% } else if (gamelist.game.title.length === 0){ %>
        <p>There are no games in this gamelist</p>
        <% } %>
    </ul>
     <% if(currentUser) {%>
     	<% if(currentUser.username === gamelist.author) { %>
        	<a href="/gamelists/<%=gamelist.id%>/edit">EDIT</a>
        	<form action="/gamelists/<%=gamelist.id%>?_method=DELETE" method="POST">
          		<input type="submit" value="DELETE" />
        	</form>
      	<% } %>
    <% } %>
  </body>
</html>