<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  
  <body>
    <% include ../partials/nav.ejs %>

    <main>
      <section id="portfolio" name="portfolio">
        <div class="container">
          <div class="row text-center">
            <h1>BROWSE GAMELISTS</h1>
            <hr class="separator separator-dark">
            <a id="inverse-button" class="btn btn-danger text-center" href="/gamelists/new">Add A Gamelist</a>
          </div>

          <div class="grid">
          <% gamelists.forEach(function(gamelist) { %>
            <div class="portfolio-item">
              <figure class="effect-portfolio">
                <img class="img-responsive" src="<%=gamelist.coverImage%>">
                <figcaption>
                  <h2><%=gamelist.title%><br/>
                  <span><h4><%=gamelist.author%></h4></span></h2>
                  <p><%=gamelist.description%></p>
                  <a href="/gamelists/<%=gamelist.id%>"></a>
                </figcaption>
              </figure>
            </div>
            <% }) %>
          </div>
        </div>
      </section>
    </main>

  </body>
  
  <footer>
    <% include ../partials/footer.ejs %>
  </footer>

</html>