<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
  <% include ../partials/nav.ejs %>

  <!-- begin profile jumbotron section -->
    <div id="gamelist" class="jumbotron">
      <img id="gamelist-icon" src="<%=gamelist.coverImage%>">
      <div id="gamelist-info">
        <h1><%=gamelist.title%></h1>
        <p><%=gamelist.description%></p>
      </div>
    </div>

      <!-- begin user edit/delete buttons -->
    <div id="gamelist-buttons" class="col-sm-4 text-center">
    <% if(currentUser) {%>
        <% if(currentUser.username === gamelist.author) {%>
          <form action="/gamelists/edit/<%=gamelist.id%>">
            <input class="btn btn-secondary" type="submit" value="Edit Gamelist"/>
            </form>
          <form action="/gamelists/<%=gamelist.id%>?_method=DELETE" method="POST">
              <input class="btn btn-danger" type="submit" value="Delete Gamelist" />
          </form>
           <a class="btn btn-primary" href="/gamelists/:id/add-games">Add A Game</a>
        <% } %>
    <% } %>
    </div>
  
    <!-- begin portfolio style section -->
    <section id="portfolio" name="portfolio">
    <div class="container">
      <div class="row text-center">
        <h1>GAMES</h1>
        <hr class="separator separator-dark">
      </div>
    </div><!-- end container -->
  </section>








  </body>
</html>