<!DOCTYPE html>
<html ng-app="Goodgame">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body ng-controller="SearchController as ctrl">
  	<% include ../partials/nav.ejs %>

  <main style="padding-top: 50px">
<% 
let imageURL = 'https://images.igdb.com/igdb/image/upload/'
let coverURL = 't_cover_big/'
let hugeURL = 't_screenshot_huge/'
let medURL = 't_screenshot_med/'
if (!gameData.screenshots) {
	gameData.screenshots = [{cloudinary_id: 'blank'}];
}
if (!gameData.videos) {
	gameData.videos = [{standbyVideo: 'blank'}];
}
%>

<div class='parallax-window gameBackground' data-parallax='scroll' data-image-src='<%= imageURL + hugeURL + gameData.screenshots[0].cloudinary_id%>'>
	<h1 class='gameTitle'><%= gameData.name %></h1>
	<img class='singleCoverImg' src='<%= imageURL + coverURL + gameData.cover.cloudinary_id %>'>
	<div class='col-xs-11'>
	<% if(currentUser) { %>
		<form method='POST' action='/games/add'>
			<input type='hidden' name='gameId' value='<%= gameData.id %>'>
			<button id="addGameButton" type='submit' class='btn btn-danger'>Add to A List</button>
			<!-- list all gamelists for current user on button click -->
			<% if(currentUser) {%>
			      <% for(let i = 0; i < currentUser.gamelists.length; i++) { %>
			              <a href="#"><p><%=currentUser.gamelists[i].title%></p></a>
			        <% } %>
			    <% } %>
			<!--  on gamelist selected (clicked) send route to add game to gamelist
			 code here -->
			 <input type='hidden' name='gamelistId' value='<%= currentUser.gamelists.id %>'>
		<!-- 	 POST to games/add or POST to gamelists/game/:id  -->

		</form>
	<% } %>
	</div>
</div>




<div class='row detail'>
	<div class='col-xs-offset-4 col-xs-6'>
		<%if (gameData.summary) { %>
			<p><%= gameData.summary %></p>
		<% } else { %>
			<p>no game plot available</p>
		<% }; %>
		<p><%= gameData.storyline %></p>
	</div>

</div>
  

<div class="content">
  <div class="slider">
		<% gameData.screenshots.forEach(function(screenshot) { %>
		   <div class="image">
			<div>
				<img src='<%= imageURL + medURL + screenshot.cloudinary_id %>'>
			</div>
		</div>
		<% }) %>

		<% gameData.videos.forEach(function(video) { %>
		   <div class="image">
			<div>
				<iframe width="520" height="315" src="https://www.youtube.com/embed/<%=video.video_id %>"></iframe>
			</div>
			</div>
		<% }) %>
  </div>
</div> 



</main>
</body>
</html>


