<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  
  <body>
    <% include ../partials/nav.ejs %>

      <div id="profile" class="jumbotron">
        <img id="profile-icon" src="<%=user.icon%>">
        <div id="profile-info">
          <h1><%=user.username%></h1>
          <p><%=user.description%></p>
          <div id="user-buttons" class="col-sm-4 text-center">
            <% if(currentUser) {%>
              <% if(currentUser.username === user.username) {%>
                <form action="/users/<%=user.id%>/edit">
                  <input class="btn btn-secondary" id="inverse-button" type="submit" value="Edit User"/>
                </form>
                <form action="/users/<%=user.id%>?_method=DELETE" method="POST">
                    <input class="btn btn-danger" id="button" type="submit" value="Delete User" />
                </form>
              <% } %>
            <% } %>
          </div>
        </div>
      </div>

      <div class="col-sm-12 text-center">
        <% if(currentUser) {%>
          <% if(currentUser.username === user.username) {%>
            <a id="inverse-button" class="btn btn-primary" href="/gamelists/new">Add A Gamelist</a>
          <% } %>
        <% } %>
      </div>
    
      <section id="portfolio" name="portfolio">
        <div class="container">
          <div class="row">
            <% user.gamelists.forEach(function(gamelist) { %>
              <div class="col-md-4 portfolio-item">
                <figure class="effect-portfolio">
                  <img class="img-responsive" src="<%=gamelist.coverImage%>">
                  <figcaption>
                    <h2><span><%=gamelist.title%></span></h2>
                    <p><%=gamelist.description%></p>
                    <a href="/gamelists/<%=gamelist.id%>"></a>
                  </figcaption>
                </figure>
              </div>
            <% }); %>
          </div>
        </div>
      </section>

  </body>
  
  <footer>
    <% include ../partials/footer.ejs %>
  </footer>

</html>