<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
  <% include ../partials/nav.ejs %>

  <!-- begin profile jumbotron section -->
    <div id="profile" class="jumbotron">
      <img id="profile-icon" src="<%=user.icon%>">
      <div id="profile-info">
        <h1><%=user.username%></h1>
        <p><%=user.description%></p>
        <p><a class="btn btn-danger btn-lg" type="button" href="#portfolio" role="button">Gamelists <span class="badge"><%=user.gamelists.length%></span></a></p>
      </div>
    </div>

<!-- begin user edit/delete buttons -->
    <div id="user-buttons" class="col-sm-4 text-center">
    <% if(currentUser) {%>
        <% if(currentUser.username === user.username) {%>
          <form action="/users/<%=user.id%>/edit">
            <input class="btn btn-secondary" type="submit" value="Edit User"/>
            </form>
          <form action="/users/<%=user.id%>?_method=DELETE" method="POST">
              <input class="btn btn-danger" type="submit" value="Delete User" />
          </form>
          <a class="btn btn-primary" href="/gamelists/new">Add A Gamelist</a>
        <% } %>
    <% } %>
    </div>
  
    <!-- begin portfolio style section -->
    <section id="portfolio" name="portfolio">
    <div class="container">
      <div class="row text-center">
        <h1>GAMELISTS</h1>
        <hr class="separator separator-dark">
      </div>
      <!-- end section title row -->
      <div class="row">
      <% for(let i = 0; i < user.gamelists.length; i++) { %>
        <div class="col-md-4 portfolio-item">
          <figure class="effect-portfolio">
            <img class="img-responsive" src="<%=user.gamelists[i].coverImage%>">
            <figcaption>
              <h2><span><%=user.gamelists[i].title%></span></h2>
              <p><%=user.gamelists[i].description%>
              </p>
              <a href="/gamelists/<%=user.gamelists[i].id%>"></a>
            </figcaption>
          </figure>
        </div><!-- end column -->
        <% } %>
      </div><!-- end row -->
    </div><!-- end container -->
  </section>


  </body>
</html>