<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
  <% include ../partials/nav.ejs %>

    <img src="<%=user.icon%>">
    <h1><%=user.username%></h1>
    <small>
      <%=user.description%>
    </small>
    <ul>

      <% for(let i = 0; i < user.gamelists.length; i++) {%>
          <li>
            <a href="/gamelists/<%=user.gamelists[i].id%>"><%=user.gamelists[i].coverImage%></a>
          </li>
      <% } %>
    </ul>
    <% if(currentUser) {%>
      	<% if(currentUser.username === user.username) {%>
        	<a href="/users/<%=user.id%>/edit">edit account</a>
        	<form action="/users/<%=user.id%>?_method=DELETE" method="POST">
          		<input type="submit" value="delete account" />
        	</form>
      	<% } %>
    <% } %>
  </body>
</html>